/* Head */
.container {
    padding: 0 40px;
}
.head-logo {
    display: flex;
    margin: 0 auto;
    width: 220px;
    height: 67px;
    padding: 20px 0 10px 0;
}
.head-title {
    text-align: center;
    font-size: 28px;
}
.head-subtitle {
    text-align: center;
    font-size: 20px;
}
.head-par {
    max-width: 200px;
    font-size: 18px;
}
.head-cur {
    padding: 10px 0;
    font-style: italic;
    font-size: 18px;
}
.head-span {
    font-size: 18px;
}

/* Terms */
.terms-title {
    text-align: center;
    font-size: 28px;
}
.terms-par {
    font-size: 18px;
}

/* Subject */
.subject-title {
    text-align: center;
    font-size: 28px;
}
.subject-par {
    font-size: 18px;
}
.subject-cur {
    padding: 10px 0;
    font-style: italic;
    font-size: 18px;
}

/* Rules Own */
.rules-title {
    text-align: center;
    font-size: 28px;
}
.rules-par {
    font-size: 18px;
}
.rules-par__sub {
    padding: 0 20px;
    font-size: 18px;
}

/* Pay */
.pay-title {
    text-align: center;
    font-size: 28px;
}
.pay-par {
    font-size: 18px;
}
.pay-cur {
    font-size: 18px;
    font-style: italic;
}

/* Conf */
.conf-title {
    text-align: center;
    font-size: 28px;
}
.conf-par {
    font-size: 18px;
}
.conf-cur {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

/* Respon */
.respon-title {
    text-align: center;
    font-size: 28px;
}
.respon-par {
    font-size: 18px;
}

/* Argument */
.argument-title {
    text-align: center;
    font-size: 28px;
}
.argument-par {
    font-size: 18px;
}

/* Deadline */
.deadline-title {
    text-align: center;
    font-size: 28px;
}
.deadline-par {
    font-size: 18px;
}
.deadline-cur {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

/* Account */
.account-title {
    text-align: center;
    font-size: 28px;
}